#code{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 400px;
    height: 100vh;
    position: relative;
    padding: 5px;
    right: 0;
    color: #ccc;
    font-family: monospace;
}
.code-section{
    background-color: #1E1E1E;
    border-radius: 10px;
    flex: 1;
    display: flex;
    padding: 5px;
}
#code-area{
    flex: 1;
    border-radius: 10px;
    outline: 0;
}
.close-code{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff
}
.code-class-name{
    outline: 0;
    border: 0;
    width: fit-content;
}
#code-language{
    font-size: 10px;
    font-style: italic;
    padding: 3px;
    cursor: pointer;
}
#css-code-class-style{
    font-size: 13px;
}

#code-content-attribute{
}
#code-class-name{
    display: flex;
    font-size: 13px;
    justify-content: flex-start;
}
.code-text{
    color: #ccc;
    font-size: 13px;
}
.code-class-name{
    color: #D7AB4C;
    font-size: 13px;
}
#code-class-content{
    display: flex;
    font-size: 13px;
}
.code-content-attribute{
    color: #7CDCFE;
    font-size: 13px;
    margin-left: 30px;
}
.code-content-value{
    color: #CE916A;
    font-size: 13px;
}
.css-value-number{
    color: #B5CEA8;
    font-size: 13px;
}

.component-style{
    color: #fff
}
.code-editable{
    outline: 0;
}
.code-editable{
    width: max-content;
    resize: none;
    border: 0;
    outline: 0;
    background-color: transparent;
}
.code-content-attribute.code-editable{
    width: auto;
    box-sizing: border-box;
    display: block;
    min-width: 0
}

#suprassumo{
    display: flex;
    width: fit-content;
}