:root{
    --aside-left-width: 
}

/* .user-header-template{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.user-main-template{
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.user-footer-template{
    min-height: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.user-aside-template{
    width: 200px;
    justify-self: flex-end;
}

.user-dragging-over{
    background-color:  #E0FfE0
}

.user-container-template{
    width: 1200px;
    min-height: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.user-div-template{
    padding: 10px;
    display: flex;
    width: fit-content;
}
.user-input-template{
    height: fit-content;
}
.user-visible-element{
    container-type: inline-size;
}
@container (max-width: 1200px) {
    .user-container-template{
        flex: 1
    }
  }